html, body
{
  height: 100%;
  margin: 0;
}

body
{
background-image: linear-gradient(to right top, #f8f2cd, rgb(255, 253, 219), #fdf5d0, rgb(252, 247, 217), hsl(53, 85%, 92%));
}

.header
{
	color: #ffe883;font-family: 'Yeon Sung';font-size: 45px;letter-spacing: 10px;margin-top: 80px;
}
.header img
{
	width: 90px;margin-left: -15px;
}

.login_div
{
	background: hsla(46, 100%, 61%, 0.548);float: none;border-radius: 15px;
}

.logo
{
	width: 80px;margin-top: 30px;border-radius: 40px;
}

#login_button
{
	width: 80%;border-radius: 15px;
}

.room_name
{
	cursor: pointer;
	font-size: 20px;
}


#logout
{
	font-size: 20px; float: right;
}


#output
{
	padding: 10px; width:80%;background: #ff791f8c;border-radius: 15px;
}

.input_div_room_page
{
	width: 80%;
}

.input_div label
{
	color: rgb(192, 24, 24);font-size: 20px;
}


.input_div_message_page
{
	position: fixed;bottom: 0px;width: 100%;background: rgba(209, 49, 0, 0.603);
}
.input_div_message_page label
{
	color: rgba(209, 49, 0, 0);
}
.input_div_message_page #msg
{
	width: 80%;
}
.input_div_message_page button
{
	margin-top: 15px;
	width: 50%; 
}
.color_white
{
	color: white
}

.user_tick
{
	width:20px;
}
.message_h4
{
	padding-left:5px;color:rgb(255, 8, 8);
}